<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tugasakhir.welearn">
    <!-- permissions for INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- receiving broadcast from GCM server -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Welearn"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.ui.angka.canvas.AngkaLevelEmpatActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.huruf.canvas.HurufLevelTIgaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.huruf.canvas.HurufLevelSatuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.angka.canvas.AngkaLevelTigaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.angka.canvas.AngkaLevelDuaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.angka.canvas.AngkaLevelSatuActivity"
            android:exported="false" />

        <service
            android:name=".core.utils.FirebaseService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.ui.huruf.canvas.HurufLevelNolActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.huruf.canvas.HurufLevelDuaActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.angka.canvas.AngkaLevelNolActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.TestActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.splashScreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>