<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tugasakhir.welearn">
    <!-- permissions for INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- receiving broadcast from GCM server -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_welearn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_welearn"
        android:supportsRtl="true"
        android:theme="@style/Theme.Welearn"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.ui.score.ui.JoinedGameActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.score.ui.ScoreMultiplayerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.score.ui.ScoreHurufUserActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.score.ui.ScoreAngkaUserActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.huruf.multiplayer.HurufReadyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".presentation.ui.angka.multiplayer.AngkaReadyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".presentation.ui.huruf.multiplayer.MatchHurufActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.angka.multiplayer.MatchAngkaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.score.ui.ScoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.angka.canvas.AngkaLevelEmpatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.huruf.canvas.HurufLevelTigaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.huruf.canvas.HurufLevelSatuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.angka.canvas.AngkaLevelTigaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.angka.canvas.AngkaLevelDuaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.angka.canvas.AngkaLevelSatuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".core.utils.FirebaseService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.ui.huruf.canvas.HurufLevelNolActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.huruf.canvas.HurufLevelDuaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.angka.canvas.AngkaLevelNolActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.splashScreen.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>